<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Subir Pelicula</title>
</head>
<body>
    <form action="/admin/subida/aceptado" method="post">
        <label for="titulo">Titulo</label>
        <input type="text" name="titulo">
        <label for="fecha">Fecha de Lanzamiento</label>
        <input type="date" name="fecha">
        <label for="sinopsis">Sinopsis</label>
        <input type="text" name="sinopsis">
        <label for="caratula">Link de Carátula</label>
        <input type="text" name="caratula">
        <input type="submit" value="Enviar">
    </form>    
</body>
</html>